<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
    <nav class="nav">
        <ul class="menu">
            <li><a>Main Page</a></li>
            <li><a href="../books">Library</a></li>
            <li><a href="../libs">Book</a></li>
            <li><a href="../author">Authors</a></li>
            <li><a href="../teacher">List of Teachers</a></li>
            <li><a href="../deps">List of Departments</a></li>
            <li><a href="../group">List of Groups</a></li>
        </ul>
    </nav>

</body>
</html>